<h2>Mobile app building series:</h2>
<ul>
  <li><a href="/articles/2025-09-23-started-building-flutter-app">Episode 1: the idea</a></li>
  <li><a href="/articles/2025-10-01-started-building-flutter-app">Episode 2: setting up the environment</a></li>
  <li><a href="/articles/2025-10-07-started-building-flutter-app">Episode 3: building the UI</a></li>
</ul>