@import "tailwindcss";

@theme {
  /* Colors */
  --color-on-error: #ffffff;
  --color-on-tertiary-fixed: #3a0a00;
  --color-surface: #faf8ff;
  --color-error-container: #ffdad6;
  --color-primary-container: #004cd7;
  --color-primary-fixed: #dce1ff;
  --color-surface-container-highest: #e2e1ed;
  --color-on-primary-fixed: #00164e;
  --color-surface-container-lowest: #ffffff;
  --color-on-tertiary: #ffffff;
  --color-surface-variant: #e2e1ed;
  --color-tertiary: #7e2000;
  --color-on-primary-container: #c4cfff;
  --color-primary: #0038a3;
  --color-surface-dim: #d9d9e5;
  --color-surface-tint: #1152dc;
  --color-on-secondary: #ffffff;
  --color-primary-fixed-dim: #b5c4ff;
  --color-on-tertiary-fixed-variant: #862300;
  --color-on-surface: #191b23;
  --color-on-primary: #ffffff;
  --color-secondary-fixed-dim: #b5c4ff;
  --color-on-secondary-fixed: #00164d;
  --color-tertiary-container: #a62e01;
  --color-on-secondary-container: #fffbff;
  --color-inverse-on-surface: #f0f0fc;
  --color-secondary: #004edc;
  --color-surface-container-low: #f3f3fe;
  --color-secondary-container: #2b68ff;
  --color-surface-container-high: #e7e7f3;
  --color-inverse-primary: #b5c4ff;
  --color-surface-bright: #faf8ff;
  --color-on-secondary-fixed-variant: #003cad;
  --color-on-primary-fixed-variant: #003cad;
  --color-background: #faf8ff;
  --color-tertiary-fixed-dim: #ffb59f;
  --color-inverse-surface: #2e3039;
  --color-on-tertiary-container: #ffc3b2;
  --color-tertiary-fixed: #ffdbd1;
  --color-outline-variant: #c3c5d7;
  --color-outline: #737686;
  --color-on-background: #191b23;
  --color-on-error-container: #93000a;
  --color-surface-container: #ededf9;
  --color-error: #ba1a1a;
  --color-secondary-fixed: #dce1ff;
  --color-on-surface-variant: #434655;

  /* Border Radius */
  --radius: 0.125rem;
  --radius-DEFAULT: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;

  /* Spacing */
  --spacing-container-max: 1200px;
  --spacing-lg: 48px;
  --spacing-xs: 4px;
  --spacing-sm: 12px;
  --spacing-gutter: 24px;
  --spacing-base: 8px;
  --spacing-md: 24px;
  --spacing-xl: 80px;

  /* Font Families */
  --font-body-sm: "Inter", sans-serif;
  --font-headline-md: "Hanken Grotesk", sans-serif;
  --font-headline-sm: "Hanken Grotesk", sans-serif;
  --font-display-lg: "Hanken Grotesk", sans-serif;
  --font-code-md: "JetBrains Mono", monospace;
  --font-headline-lg: "Hanken Grotesk", sans-serif;
  --font-body-lg: "Inter", sans-serif;
  --font-label-md: "JetBrains Mono", monospace;
  --font-body-md: "Inter", sans-serif;

  /* Font Sizes & Text Styles */
  --text-body-sm: 14px;
  --text-body-sm--line-height: 20px;
  --text-body-sm--font-weight: 400;

  --text-headline-md: 24px;
  --text-headline-md--line-height: 32px;
  --text-headline-md--font-weight: 600;

  --text-headline-sm: 20px;
  --text-headline-sm--line-height: 28px;
  --text-headline-sm--font-weight: 600;

  --text-display-lg: 56px;
  --text-display-lg--line-height: 64px;
  --text-display-lg--letter-spacing: -0.02em;
  --text-display-lg--font-weight: 600;

  --text-code-md: 14px;
  --text-code-md--line-height: 20px;
  --text-code-md--font-weight: 400;

  --text-headline-lg: 32px;
  --text-headline-lg--line-height: 40px;
  --text-headline-lg--letter-spacing: -0.01em;
  --text-headline-lg--font-weight: 600;

  --text-body-lg: 18px;
  --text-body-lg--line-height: 28px;
  --text-body-lg--font-weight: 400;

  --text-label-md: 12px;
  --text-label-md--line-height: 16px;
  --text-label-md--letter-spacing: 0.05em;
  --text-label-md--font-weight: 500;

  --text-body-md: 16px;
  --text-body-md--line-height: 24px;
  --text-body-md--font-weight: 400;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}