---
import AppStoreBadge from "../assets/Download_on_the_App_Store_Badge_black.svg";
import AppStoreBadgeWhite from "../assets/Download_on_the_App_Store_Badge_white.svg";
---

<a
  href="https://apps.apple.com/us/app/de-het-swipe/id6751516130"
  target="_blank"
  rel="noopener noreferrer"
>
  <div class="dark:hidden">
    <AppStoreBadge />
  </div>
  <div class="hidden dark:block">
    <AppStoreBadgeWhite />
  </div>
</a>
