---
import AppStoreButton from "./app-store-button.astro";
---

<!-- <div class="py-20 dark:bg-surface-dark bg-surface-light"> -->
<div class="py-20 dark:bg-background-dark bg-background-light">
  <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
    <div
      class="relative rounded-3xl overflow-hidden bg-gradient-to-r from-primary to-blue-600 px-8 py-16 text-center shadow-2xl"
    >
      <div class="absolute inset-0 opacity-10 bg-pattern"></div>
      <div class="relative z-10">
        <h2 class="text-3xl md:text-5xl font-black text-white mb-6">
          Ready to master Dutch?
        </h2>
        <p class="text-blue-100 text-lg md:text-xl max-w-2xl mx-auto mb-10">
          Join now and stop guessing. Start knowing.
        </p>
        <div class="flex items-center justify-center gap-3">
          <AppStoreButton />
        </div>
      </div>
    </div>
  </div>
</div>
