<a href="/portfolio/dehet-app">
  <div class="flex items-center gap-2">
    <div
      class="size-8 rounded bg-primary flex items-center justify-center text-white"
    >
      <span class="material-symbols-outlined text-[20px] rotate-x-180"
        >style</span
      >
    </div>
    <span class="font-bold text-xl tracking-tight dark:text-white text-main"
      >De Het Swipe</span
    >
  </div>
</a>
