---
import Logo from "./logo.astro";
import AppStoreButton from "./app-store-button.astro";
---

<nav
  class="sticky top-0 z-50 w-full border-b dark:border-surface-border border-surface-border-light bg-surface-light/90 dark:bg-background-dark/80 backdrop-blur-md"
>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center h-16 justify-between">
      <Logo />
      <AppStoreButton />
    </div>
  </div>
</nav>
