<nav class="flex gap-4 opacity-0 animate-text-fade-in-4">
  <a
    href="/articles"
    class="uppercase font-light text-gray-700 relative inline-block
  before:absolute before:inset-x-0 before:bottom-0 before:h-px before:bg-gray-700 before:scale-x-0 before:origin-left before:transition-transform before:duration-300 before:ease-out
  hover:before:scale-x-100"
  >
    Blog
  </a>
</nav>
