---
import DefaultLayout from "../../../layouts/default.astro";
---

<DefaultLayout>
  <div class="h-full w-full flex items-center justify-center">
    <img
      src="/images/portfolio/dehet/page-backgound.png"
      class="w-full h-full object-contain"
    />
  </div>
</DefaultLayout>
