@import "tailwindcss";

@theme {
  --color-background-light: #fcfcfd;
  --color-background-dark: #0a0a0a;
  --color-text-main: #0f172a;
  --color-text-muted: #64748b;
  --color-text-main-light: #45556c;
  --color-primary: #2b8cee;
  --color-text-accent: #2b8cee;
  --color-text-accent-secondary: #f97316;
  --color-bg-accent: #2b8cee;
  --color-bg-accent-secondary: #f97316;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-surface-dark: #121212;
  --color-surface-light: #ffffff;
  --color-surface-border: #27272a;
  --color-surface-border-light: #e5e7eb;

  --font-display: "Lexend", sans-serif;

  /* light vars */
  /* 
  "primary": "#2b8cee",
  "background-light": "#fcfcfd",
  "surface-light": "#ffffff",
  "surface-accent": "#f3f4f6",
  "surface-border": "#e5e7eb",
  "text-main": "#0f172a",
  "text-muted": "#64748b"
  */
  /* dark vars */
  /* 
  "primary": "#2b8cee",
  "background-light": "#f6f7f8",
  "background-dark": "#0a0a0a",
  "surface-dark": "#121212",
  "surface-border": "#27272a"
  */
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(135deg, var(--color-text-accent-secondary) 0%, var(--color-text-accent) 100%);
}

.bg-pattern {
  background-image: radial-gradient(circle at 2px 2px, white 1px, transparent 0);
  background-size: 32px 32px;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

@keyframes bg-loop {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.bg-loop {
  background-size: 200% 200%;
  animation: bg-loop 4s ease infinite;
}