---
import { Image } from "astro:assets";
import DefaultLayout from "./default.astro";
const { frontmatter } = Astro.props;
---

<DefaultLayout>
    <div class="h-[340px] w-full">
        {
            frontmatter.topImage ? (
                <Image
                    width="100"
                    height="340"
                    src={frontmatter.topImage.src}
                    alt={frontmatter.topImage.alt}
                    class="w-full h-[340px] object-cover mb-8 aspect-[1/1] animate-image-appearance duration-300"
                    loading="eager"
                    fetchpriority="high"
                />
            ) : <div class="h-[340px] w-full bg-sky-700/80 animate-image-appearance duration-300" />
        }
    </div>
    <div class="absolute bg-sky-700 top-50 animate-heading-appearance">
        <h1
            class="text-2xl sm:text-3xl lg:text-5xl leading-[1.5] py-4 px-6 font-bold text-white text-center"
        >
            {frontmatter.title}
        </h1>
    </div>
    <div class="max-w-3xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
        <article class="article animate-text-appearance">
            <slot />
        </article>
    </div>
</DefaultLayout>
