---
import Footer from "../components/footer.astro";
import CookieConsent from "../components/CookieConsent.astro";
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Pavel's place</title>
		<!-- Google tag (gtag.js) -->
		<script
			type="text/plain"
			data-category="analytics"
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-LQSRGN2WB9"></script>
		<script type="text/plain" data-category="analytics">
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-LQSRGN2WB9");
		</script>
	</head>
	<body class="h-screen">
		<div class="wrapper">
			<main>
				<slot />
			</main>
			<Footer />
		</div>
		<CookieConsent />
	</body>
</html>
